<div class="items-sell-contents">

  <header class="items-sell-header">
    
  </header>

  <div class="items-sell-main">
    <h2 class="items-sell-title">boxの情報を入力</h2>
    <%= form_with model: @box,  local: true do |f| %>
    
    <%#= render 'shared/error_messages', model: f.object %>

    <%# 画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        boxの画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"box-image" %>
      </div>
    </div>
    <%# 画像 %>

    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        boxの名前
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :box_name, class:"items-text", id:"box-name", placeholder:"部屋の名前（必須)", maxlength:"30" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          メモ
        </div>
        <%= f.text_area :box_memo, class:"items-text", id:"box-memo", placeholder:"メモ（自分以外には公開されません)" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>

  
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "ディスプレイする" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  
  <% end %>

</div>